<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Interpolation</key>
	<array>
		<string>fundamentalPoly</string>
		<string>ip_ex1</string>
		<string>ip_ex2</string>
		<string>lagrangePoly</string>
		<string>newtonCoeff</string>
		<string>newtonInterp</string>
		<string>newtonPoly</string>
	</array>
	<key>LinearAlgebra</key>
	<array>
		<string>la_ex1</string>
		<string>la_ex2</string>
		<string>la_ex3</string>
		<string>choleski</string>
		<string>gauss</string>
		<string>LUdec</string>
	</array>
	<key>Finance</key>
	<array>
		<string>f_ex1</string>
		<string>f_ex2</string>
		<string>balance</string>
		<string>interest_rate</string>
	</array>
	<key>Plot3D</key>
	<array>
		<string>p3_ex1</string>
		<string>p3_ex2</string>
		<string>p3_ex3</string>
		<string>p3_ex4</string>
		<string>p3_ex5</string>
		<string>shubert3</string>
	</array>
	<key>Plot2D</key>
	<array>
		<string>p2_ex1</string>
		<string>p2_ex2</string>
		<string>p2_ex3</string>
		<string>p2_ex4</string>
		<string>p2_ex5</string>
		<string>pstep</string>
		<string>psinf</string>
	</array>
	<key>LinearProgramming</key>
	<array>
		<string>lp_ex1</string>
		<string>lp_ex2</string>
		<string>dual_simplex</string>
		<string>dual_simplex_iteration</string>
		<string>simplex</string>
		<string>simplex_iteration</string>
	</array>
	<key>RootFinding</key>
	<array>
		<string>r_ex1</string>
		<string>bisection</string>
		<string>polynomial</string>
	</array>
	<key>MonteCarolSim</key>
	<array>
		<string>mc_ex1</string>
		<string>mc_ex2</string>
		<string>mc_ex3</string>
		<string>mc_ex4</string>
	</array>
</dict>
</plist>
